.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: #000000;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-effect: null;
    -fx-spacing: 10px;
}

.tab {
    -fx-background-color: #000000;
    -fx-background-radius: 10px 10px 0px 0px;
}

.tab:hover{
    -fx-background-color: #553300;
}

.tab:selected {
    -fx-background-color: #ffaa22;
}

.tab-pane:focused .tab:selected .focus-indicator {
    -fx-border-width: 0 ;
    -fx-border-color: transparent;
    -fx-border-insets: 0;
    -fx-border-radius: 0;
}

.tab:selected .tab-label {
    -fx-text-fill: #000000;
}

.tab-label {
    -fx-text-fill: #ffffff;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
 }

 .scroll-pane {
    -fx-background-color: transparent;
 }

 .text-input {
    -fx-text-fill: #ffffff;
    }

#empty {
    -fx-background-color: transparent;
}

#empty:hover {
    -fx-background-color: transparent;
}